<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel='stylesheet' href="general.css"/>
  </head>
  <body>
    <h1>Welcome, {{username}}</h1>
    <h4><a href='/logout'>Logout</a></h4> 
  </body>
</html>
