<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel='stylesheet' href="general.css"/>
  </head>
  <body>
    <h1>Register</h1>
    <form method="post" action="/register">
      <input placeholder="username" name="username"></input>
      <input placeholder="password" name="password" type="password"></input>
      <button type="submit">Login</button>
    </form>

    <div class="links">
    <h4><a href='/login'>Log in</a></h4>
    <h4><a href='/home'>Go Home</a></h4>
    <h4><a href='/index'>Index</a></h4>
    </div>
  </body>
</html>
